{% extends 'base.html' %}

{% block css %}
<style>
    html, body, .container-table {
        height: 100%;
    }
    .container-table {
        display: table;
    }
    .vertical-center-row {
        display: table-cell;
        vertical-align: middle;
    }
</style>
{% endblock css %}


{% block title %}Login Form{% endblock title %}



{% block content %}

<h1 class="text-center">Login Form</h1>


<div class="container w-50 container-table jumbotron">
    <div class="row vertical-center-row">
    <form action="" method="post">
        {{ form.csrf_token }}
        
        {{form.username.label(class='form-control-label')}}
        {{form.username(class='form-control')}}

        {{form.password.label(class='form-control-label')}}
        {{form.password(class='form-control')}}

        {{form.rememberme.label(class='form-control-label')}}
        {{form.rememberme}}
        

        <input class="m-5 p-1 btn btn-info" type="submit" value="Login">
        <a href='{{url_for("register")}}' class="btn btn-secondary">didn't Register ?</a>

    </form>
</div>

</div>
{% endblock content %}